body {
	margin: 0;
	padding: 0;
	background-color: #000;
}
#preloader_wrap {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow-x:hidden;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 1000;
}
@-webkit-keyframes fadeOut {
	0%{
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	0%{
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.content {
	width: 650px;
	margin:0 auto;
	top:40%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	position: relative;
	overflow:visible;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
#logo_wrap {
	position: relative;
	bottom: -25px;
	text-align: center;
	z-index: 3;
	width: 52%;
	background-color: #fff;
}
#logo {
	width: 80px;
	height: 80px;
	background-image: url(../img/logo.jpg);
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin:0 auto;
	visibility: hidden;
}
#name {
	width: 140px;
	height: 20px;
	background-image: url(../img/name.jpg);
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin:0 auto;
	visibility: hidden;
}
@-webkit-keyframes scaleBlink {
	0%{
		-webkit-transform: scale(0);
		        transform: scale(0);
		visibility: hidden;
	}
	10%{
		visibility: visible;
	}
	80%{
		-webkit-transform: scale(1.3);
		        transform: scale(1.3);
	}
	100%{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
@keyframes scaleBlink {
	0%{
		-webkit-transform: scale(0);
		        transform: scale(0);
		visibility: hidden;
	}
	10%{
		visibility: visible;
	}
	80%{
		-webkit-transform: scale(1.3);
		        transform: scale(1.3);
	}
	100%{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
@-webkit-keyframes scaleBlinkRev {
	0%{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	80%{
		-webkit-transform: scale(1.3);
		        transform: scale(1.3);
	}
	100% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
}
@keyframes scaleBlinkRev {
	0%{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	80%{
		-webkit-transform: scale(1.3);
		        transform: scale(1.3);
	}
	100% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
}
#slogan_wrap {
	width: 190px;
	height: 30px;
	margin:0 auto;
	margin-top: 10px;
	overflow:hidden;
	position: relative;
	visibility: hidden;
}
#slogan {
	width: 190px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/slogan.jpg);
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	
}
@-webkit-keyframes slideDown {
	0%{
		top: -40px;
	}
	100%{
		top: 0px;
	}
}
@keyframes slideDown {
	0%{
		top: -40px;
	}
	100%{
		top: 0px;
	}
}
@-webkit-keyframes slideDownRev {
	0%{
		top: 0px;
	}
	100%{
		top: -40px;
	}
}
@keyframes slideDownRev {
	0%{
		top: 0px;
	}
	100%{
		top: -40px;
	}
}
#description_wrap {
	width: 99%;
	height: 0px;
	overflow:hidden;
	border:2px solid #999;
	position: relative;
	bottom: 0;
	margin:0 auto;
	visibility: hidden;
	box-sizing: border-box;
}
#description {
	font-size:31px;
	font-family: Uni Sans Heavy CAPS;
	color: #999999;
	text-align: center;
	margin-top: 60px;
}
@-webkit-keyframes swipe {
	0%{
		opacity: 1;
	}
	40%{
		opacity: 0;
	}
	60%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes swipe {
	0%{
		opacity: 1;
	}
	40%{
		opacity: 0;
	}
	60%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@-webkit-keyframes slides {
	0%{
		width: 0;
		height: 0px;
		border-bottom:0px solid #999;
	}
	30%	{
		width: 99%;
	}
	35%	{
		height: 0px;
		border-bottom:0px solid #999;
	}
	37%{
		border-bottom:2px solid #999;
	}
	100% {
		height: 240px;
		width: 99%;
	}
}

@keyframes slides {
	0%{
		width: 0;
		height: 0px;
		border-bottom:0px solid #999;
	}
	30%	{
		width: 99%;
	}
	35%	{
		height: 0px;
		border-bottom:0px solid #999;
	}
	37%{
		border-bottom:2px solid #999;
	}
	100% {
		height: 240px;
		width: 99%;
	}
}
@-webkit-keyframes slidesRev {
	0%{
		height: 240px;
		width: 99%;
	}
	30%	{
		height: 0px;
		border-bottom:0px solid #999;
	}
	35%	{
		border-bottom:2px solid #999;
	}
	37%{
		width: 99%;
	}
	100% {
		width: 0;
		height: 0px;
		border-bottom:0px solid #999;
	}
}
@keyframes slidesRev {
	0%{
		height: 240px;
		width: 99%;
	}
	30%	{
		height: 0px;
		border-bottom:0px solid #999;
	}
	35%	{
		border-bottom:2px solid #999;
	}
	37%{
		width: 99%;
	}
	100% {
		width: 0;
		height: 0px;
		border-bottom:0px solid #999;
	}
}

#load_wrap {
	width: 655px;
	display: none;
	position: absolute;
	bottom: -150px;
	left:50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	text-align: center;
}
#progress {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 24px;
	color:#ff6600;
	text-transform: uppercase;
	font-weight: 700;
	font-family: Uni Sans Heavy CAPS;
}
.text_wrap span{
	font-size: 24px;
	color:#ff6600;
	text-transform: uppercase;
	font-weight: 700;
	font-family: Uni Sans Heavy CAPS;
}
#percent {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 24px;
	color:#ff6600;
	font-weight: 700;
	font-family: Uni Sans Heavy CAPS;
}
#img_wrap {
	width: 100%;
	height: 70px;
	position: relative;
	overflow:hidden;
	margin-top: 15px;
}
#line {
	width: 100%;
	height: 3px;
	background-color: #999999;
	position: absolute;
	bottom: 2px;
	left: 0;
	z-index: 1;
}
#tractor {
	width: 100%;
	height:100%;
	background-color: transparent;
	background-image: url(../img/tractor.jpg);
	background-position: right bottom;
	background-size: auto 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: -490px;
	bottom: 0;
	z-index: 2;
	opacity: 0;
}
#tractor>.wrapper {
	position: relative;
	bottom: 0;
	right: 0;
	width: 120px;
	height: 69px;
	overflow: hidden;
	float: right;
}
#tractor>.wrapper>#cabin {
	width: 120px;
	height: 69px;
	background-color: transparent;
	background-image: url(../img/tractor-cabin.png);
	background-position: right bottom;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	bottom: 0;
	-webkit-animation: cabinShake .1s linear;
	        animation: cabinShake .1s linear;
	-webkit-animation-iteration-count:infinite;
	        animation-iteration-count:infinite;
	-webkit-animation-delay: none;
	        animation-delay: none;
}
#tractor>.wrapper>#front_wheel {
	width: 30px;
	height: 30px;
	background-color: transparent;
	background-image: url(../img/front-wheel.png);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	right: 9px;
	bottom: 0;
	-webkit-animation:front_wheel 3s linear;
	        animation:front_wheel 3s linear;
	-webkit-animation-iteration-count:infinite;
	        animation-iteration-count:infinite;
	-webkit-animation-delay: none;
	        animation-delay: none;
}
#tractor>.wrapper>#rear_wheel {
	width: 45px;
	height: 45px;
	background-color: transparent;
	background-image: url(../img/rear-wheel.png);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	right: 67px;
	bottom: 0;
	-webkit-animation:rear_wheel 5s linear;
	        animation:rear_wheel 5s linear;
	-webkit-animation-iteration-count:infinite;
	        animation-iteration-count:infinite;
	-webkit-animation-delay: none;
	        animation-delay: none;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes front_wheel {
	0%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@keyframes front_wheel {
	0%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@-webkit-keyframes rear_wheel {
	0%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@keyframes rear_wheel {
	0%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@-webkit-keyframes cabinShake {
	0%{
		bottom: -2px;
	}
	100%{
		bottom: 0px;
	}
}
@keyframes cabinShake {
	0%{
		bottom: -2px;
	}
	100%{
		bottom: 0px;
	}
}


@media all and (max-width: 820px) {
	.content {
		-webkit-transform: translateY(-45%);
		        transform: translateY(-45%);
		top: 35%;
	}
}

@media all and (max-width: 650px) {
	.content {
		width: 420px;
	}
	#description {
		font-size: 26px;
		margin-top: 30px;
	}
	@-webkit-keyframes slides {
		0%{
			width: 0;
			height: 0px;
			border-bottom:0px solid #999;
		}
		30%	{
			width: 99%;
		}
		35%	{
			height: 0px;
			border-bottom:0px solid #999;
		}
		37%{
			border-bottom:2px solid #999;
		}
		100% {
			height: 160px;
			width: 99%;
		}
	}
	@keyframes slides {
		0%{
			width: 0;
			height: 0px;
			border-bottom:0px solid #999;
		}
		30%	{
			width: 99%;
		}
		35%	{
			height: 0px;
			border-bottom:0px solid #999;
		}
		37%{
			border-bottom:2px solid #999;
		}
		100% {
			height: 160px;
			width: 99%;
		}
	}
	@-webkit-keyframes slidesRev {
	0%{
			height: 160px;
			width: 99%;
		}
		30%	{
			height: 0px;
			border-bottom:0px solid #999;
		}
		35%	{
			border-bottom:2px solid #999;
		}
		37%{
			width: 99%;
		}
		100% {
			width: 0;
			height: 0px;
			border-bottom:0px solid #999;
		}
	}
	@keyframes slidesRev {
	0%{
			height: 160px;
			width: 99%;
		}
		30%	{
			height: 0px;
			border-bottom:0px solid #999;
		}
		35%	{
			border-bottom:2px solid #999;
		}
		37%{
			width: 99%;
		}
		100% {
			width: 0;
			height: 0px;
			border-bottom:0px solid #999;
		}
	}
	#load_wrap {
		width: 420px;
	}
	#tractor {
		left: -200px;
	}
}
@media all and (max-width: 430px) {
	.content {
		width: 310px;
		-webkit-transform: translateY(-60%);
		        transform: translateY(-60%);
	}
	#logo_wrap {
		width: 70%;
	}
	#description {
		font-size: 20px;
	}
	#progress, #percent {
		font-size: 16px;
	}
	#load_wrap {
		width: 310px;
		bottom: -130px;
	}
	.text_wrap span{
		font-size: 16px;
	}
}


@media all and (max-width: 825px) and (max-height: 412px) {
	#logo {
		width: 40px;
		height: 40px;
	}
	#name {
		width: 80px;
		height: 15px;
	}
	#slogan_wrap {
		width: 130px;
		height: 25px;
		margin-top: 0;
	}
	#logo_wrap {
		bottom: -15px;
		width: 160px;
	}
	#description {
		font-size: 20px;
		margin-top: 15px;
	}
	#description_wrap {
		width: 360px;
	}
	#load_wrap {
		bottom: -125px;
	}
	#progress, #percent, .text_wrap span {
		font-size: 16px;
	}
	.content {
		top: 25%;
	}

	@-webkit-keyframes slides {
		0%{
			width: 0;
			height: 0px;
			border-bottom:0px solid #999;
		}
		30%	{
			width:360px;
		}
		35%	{
			height: 0px;
			border-bottom:0px solid #999;
		}
		37%{
			border-bottom:2px solid #999;
		}
		100% {
			height: 120px;
			width: 360px;
		}
	}
	@keyframes slides {
		0%{
			width: 0;
			height: 0px;
			border-bottom:0px solid #999;
		}
		30%	{
			width: 360px;
		}
		35%	{
			height: 0px;
			border-bottom:0px solid #999;
		}
		37%{
			border-bottom:2px solid #999;
		}
		100% {
			height: 120px;
			width: 360px;
		}
	}
	@-webkit-keyframes slidesRev {
	0%{
			height: 120px;
			width: 360px;
		}
		30%	{
			height: 0px;
			border-bottom:0px solid #999;
		}
		35%	{
			border-bottom:2px solid #999;
		}
		37%{
			width: 360px;
		}
		100% {
			width: 0;
			height: 0px;
			border-bottom:0px solid #999;
		}
	}
	@keyframes slidesRev {
	0%{
			height: 120px;
			width: 360px;
		}
		30%	{
			height: 0px;
			border-bottom:0px solid #999;
		}
		35%	{
			border-bottom:2px solid #999;
		}
		37%{
			width: 360px;
		}
		100% {
			width: 0;
			height: 0px;
			border-bottom:0px solid #999;
		}
	}
} 